<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="after-submit">
      <div style="min-width: 300px; max-width: 500px">
        <h1>
          Thank you for choosing
          <strong>Household Goods Moving And Storage</strong>
        </h1>
        <b>
          We'll review the details and get back to you shortly with your quote.
          You can also give us a call at 833-359-6786 — we'll be happy to assist
          you.
        </b>
        <div class="phone button-phone">
          <button class="btn btn-lg Navigate-button" type="button">
            <a class="bi bi-telephone-fill" href="tel:833-359-6786">
              833-359-6786</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
