<footer>
  <div class="container">
    <div class="contact">
      <h2>Contact Us</h2>
      <p>Household Goods Moving And Storage</p>
      <p>
        Address:
        <a
          style="color: #577476; font-weight: bold"
          href="https://maps.app.goo.gl/q8G67vKyYnjumBVy8"
          target="_blank"
          >10655 Pine Haven Terrace,<br />
          Rockville, MD 20852</a
        >
      </p>
      <p>
        Email:
        <a
          style="color: #577476; font-weight: bold; font-size: 12px"
          href="mailto: info&#64;householdgoodsmovingandstorage.com"
          >info&#64;householdgoodsmovingandstorage.com</a
        >
      </p>
      <p>
        Phone:
        <a
          style="color: #577476; font-weight: bold"
          [href]="'tel:+' + phoneLink"
          >{{ phone }}</a
        >
      </p>
      <p style="font-weight: bold">
        USDOT Number:
        <a
          target="_blank"
          style="color: #577476"
          href="https://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=USDOT&query_string=4012295"
          >4012295</a
        >
      </p>
    </div>
    <div class="lead-capture">
      <h2>COMMUNITY</h2>
      <ul style="list-style: none; padding-left: 10px">
        <li>
          <a style="color: #577476; font-weight: bold" href="/blog/"
            >Household Goods Blog</a
          >
        </li>
        <li>
          <a
            style="color: #577476; font-weight: bold"
            href="https://www.facebook.com/HouseholdGoodsMovingAndStorage"
            target="_blank"
            >Household Goods on Facebook</a
          >
        </li>
      </ul>
    </div>
    <div class="lead-capture">
      <h2>Get in Touch</h2>
      <form [formGroup]="form" (ngSubmit)="sendEmail()">
        <div class="form-floating mb-3">
          <input
            formControlName="yourName"
            type="text"
            class="form-control"
            id="yourName"
            name="yourName"
            placeholder=""
          />
          <label for="yourName">Your Name</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            formControlName="yourEmail"
            id="yourEmail"
            name="yourEmail"
            placeholder=""
          />
          <label for="yourEmail">Your Email</label>
        </div>
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder=""
            formControlName="yourMessage"
            id="yourMessage"
            name="yourMessage"
          ></textarea>
          <label for="yourMessage">Your Message</label>
        </div>
        <p></p>
        <button
          class="btn btn-lg"
          style="
            background-color: #273947;
            border: 0px;
            color: #f0e5d4;
            font-weight: bold;
          "
          type="submit"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</footer>
