<div class="container">
  <nav aria-label="breadcrumb" style="margin-top: 5px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a style="color: #273947; font-weight: 600" routerLink=""
          >Household Goods Moving And Storage</a
        >
      </li>

      <li class="breadcrumb-item active" aria-current="page">
        Moving Supplies
      </li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <main>
        <article>
          <div class="card">
            <div class="card-body">
              <div class="entry-content clear" itemprop="text">
                <section>
                  <div class="container">
                    <div>
                      <h1>
                        Essential Moving Supplies Checklist for an Easy Move
                      </h1>
                      <p>
                        Prepare for your move with our essential moving supplies
                        checklist, ensuring a smooth transition to your new
                        home. From sturdy moving boxes and packing tape to
                        bubble wrap and furniture covers, we've got you covered.
                        Don't forget essentials like markers for labeling boxes
                        and a utility knife for easy unpacking. With our
                        comprehensive checklist, you'll have everything you need
                        to pack and protect your belongings efficiently, making
                        your move stress-free and organized.
                      </p>
                    </div>
                  </div>
                </section>

                <div>
                  <section>
                    <app-article-table [table]="table"></app-article-table>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </article>
      </main>
    </div>
    <div class="col-sm">
      <aside>
        <div class="container">
          <div class="row">
            <section>
              <app-article-quote></app-article-quote>
            </section>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
