.tab5 {
    margin-left: 5px;
}
.tab10 {
    margin: 10px ;
}
.container a {
    text-decoration: none;
    color: #273947;
    font-weight: 500;
}
.container{
    margin-bottom: 15px;
}
.breadcrumb-item {
    color: #273947;
}