.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lead-capture {
  flex: 1 1 300px;
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
}
