<!-- Modal -->

<div
  class="modal fade"
  id="menuModal"
  tabindex="-1"
  aria-labelledby="menuModal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    style="margin-right: 0 !important; margin-top: 120px !important"
  >
    <div class="modal-content">
      <div class="modal-header" style="border: 0px; padding-bottom: 0">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeMenuModal()"
        ></button>
      </div>
      <div class="modal-body" style="padding-top: 0">
        <div class="menu">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                href="moving-services"
                style="
                  display: inline-block !important;
                  color: #212529;
                  text-decoration: none;
                  margin-right: 5px;
                "
              >
                Moving Services
              </a>
              <a
                style="display: inline-block !important; font-size: 20px"
                class="nav-link dropdown-toggle"
                href="#"
                id="servicesDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="servicesDropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="household-moving-company/long-distance-moving"
                    >Long Distance Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="household-moving-company/how-to-find-an-interstate-mover"
                    >State to State Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="local-movers-rockville-maryland"
                    >Local Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="short-distance-movers-rockville-maryland"
                    >Short-Distance Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="apartment-movers-rockville-maryland"
                    >Apartment Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="office-movers-rockville-maryland"
                    >Office Movers</a
                  >
                </li>

                <li>
                  <a
                    class="dropdown-item"
                    href="appliance-movers-rockville-maryland"
                    >Appliance Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="piano-movers-rockville-maryland"
                    >Piano Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="same-day-movers-rockville-maryland"
                    >Same Day Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="essential-moving-supplies-checklist-for-an-easy-move"
                    >Professional Packers and Movers</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/junk-removal-rockville-maryland"
                    >Junk Removal</a
                  >
                </li>
                <!--li>
                  <a class="dropdown-item" href="#">Car Transport</a>
                </li-->
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/essential-moving-supplies-checklist-for-an-easy-move"
                >Moving Supplies</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Moving Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a
                style="
                  display: inline-block !important;
                  color: #212529;
                  text-decoration: none;
                  margin-right: 5px;
                  cursor: pointer;
                "
                data-bs-toggle="dropdown"
              >
                Locations
              </a>
              <a
                style="display: inline-block !important; font-size: 20px"
                class="nav-link dropdown-toggle"
                href="#"
                id="servicesDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="servicesDropdownMenuLink"
              >
                <li>
                  <a
                    class="dropdown-item"
                    href="best-moving-company-in-washington-dc-area/menu"
                    >DMV Movers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="southern-california-mover"
                    >Southern California Movers</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="chicago-and-suburbs-mover"
                    >Chicago and Surrounding Area Movers
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer" style="border: 0px"></div>
    </div>
  </div>
</div>
