<div class="card">
  <div class="card-header">
    <h2>
      <a
        style="color: #273947; text-decoration: none"
        [routerLink]="post.linkToPost"
        >{{ post.h2 }}</a
      >
    </h2>
  </div>
  <div class="card-body">
    <p>
      <span>{{ post.keyword }}</span
      >&nbsp;•
      <time [attr.datetime]="post.lastUpdate" class=""
        >Last Updated: {{ post.textLastUpdate }}</time
      >
      <span>&nbsp;• {{ post.minuteRead }} min read</span>
    </p>
    <p class="card-text">
      {{ post.p }}
      <br />
      <a style="color: #273947" [routerLink]="post.linkToPost">{{
        post.linkToPostText
      }}</a>
    </p>
  </div>
</div>
<p></p>
