<h5 class="card-title">Quick Move Quote</h5>

<div class="d-flex">
  <form
    #leadFormViewChild
    [formGroup]="leadForm"
    style="color: #273947; max-width: 100%; font-size: 14px"
    class="needs-validation"
    (ngSubmit)="sendEmail()"
  >
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="movingFromInput"
        #movingFromInput
        placeholder=""
        formControlName="movingFromInput"
        name="movingFromInput"
        required
      />
      <label for="movingFromInput">Moving From (City, State or Zip)</label>
      <div class="invalid-feedback text-start">Moving From cannot be empty</div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="movingToInput"
        #movingToInput
        placeholder=""
        required
        formControlName="movingToInput"
        name="movingToInput"
      />
      <label for="movingToInput">Moving To (City, State or Zip)</label>
      <div class="invalid-feedback text-start">Moving To cannot be empty</div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="moveSizeInput"
        #moveSizeInput
        placeholder=""
        required
        formControlName="moveSizeInput"
        name="moveSizeInput"
        min="1"
      />
      <label for="moveSizeInput">How many rooms are in your home?</label>
      <div class="invalid-feedback text-start">Moving Size cannot be empty</div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="date"
        onclick="this.showPicker()"
        onfocus="this.showPicker()"
        class="form-control"
        id="moveDateInput"
        #moveDateInput
        formControlName="moveDateInput"
        name="moveDateInput"
      />
      <label for="moveDateInput">Preferred Move Date</label>
    </div>

    <p></p>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="nameInput"
        #nameInput
        formControlName="nameInput"
        name="nameInput"
        placeholder=""
      />
      <label for="nameInput">Name</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="emailInput"
        #emailInput
        formControlName="emailInput"
        name="emailInput"
        placeholder=""
        required
      />
      <label for="emailInput">Email</label>
      <div class="invalid-feedback text-start">Please enter a valid email</div>
    </div>
    <div class="form-floating mb-3">
      <input
        type="tel"
        class="form-control"
        id="phoneInput"
        formControlName="phoneInput"
        name="phoneInput"
        #phoneInput
        placeholder=""
        required
        pattern="\(?[0-9]{3}\)?\s?-?[\s\-\s]?[0-9]{3}\s?-?[\s\-\s]?[0-9]{4}"
      />
      <label for="phoneInput">Phone Number</label>
      <div class="invalid-feedback text-start">Please enter a valid email</div>
    </div>
    <button
      type="submit"
      class="btn btn-lg"
      style="
        background-color: #ffde59;
        border: 0px;
        color: #273947;
        font-weight: bold;
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
      Get a free estimate
    </button>
  </form>
</div>
<div style="font-size: 14px">
  * We do not share your information with any third parties without your
  permission. Only our estimator will call you regarding your move. We do not
  sell, communicate or divulge your information to any mailing lists.
</div>
