<div
  class="modal fade"
  id="bookOnlineModal"
  tabindex="-1"
  aria-labelledby="bookOnlineModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: 0px">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeBookOnlineModal()"
        ></button>
      </div>
      <div class="modal-body"><app-article-quote></app-article-quote></div>
      <div class="modal-footer" style="border: 0px"></div>
    </div>
  </div>
</div>
