ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
ul li {
  margin-bottom: 5px;
}
ul li:before {
  content: "✓";
  color: #273947;
  font-weight: bold;
  border: 1px solid #273947;
  margin-right: 5px;
}
