h2 {
  font-size: 20px;
}
h1 {
  font-size: 2.7vw;
  color: #f0e5d4;
  padding-left: 55%;
}
.image-wrapper {
  position: relative;
  width: 100%;
  /* max-width: 600px;  Adjust according to your design */
}

img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 15%; /* Adjust vertical positioning */
  left: 5%; /* Adjust horizontal positioning */
  width: 50%; /* Adjust overlay width */
  height: 55%; /* Adjust overlay height */
  background-color: transparent; /* Adjust overlay color and opacity */
}
.overlay-button {
  position: absolute;
  top: 15%; /* Adjust vertical positioning */
  left: 65vw; /* Adjust horizontal positioning */
  width: 30%; /* Adjust overlay width */
  height: 55%; /* Adjust overlay height */
  background-color: transparent; /* Adjust overlay color and opacity */
}
li a {
  color: #212529;
  text-decoration: none;
}
@media screen and (min-width: 760px) {
  .margin-desktop {
    margin: 20px 50px;
  }
}
