<main>
  <div class="image-wrapper">
    <img src="../../../../assets/images/dmv/dc.jpg" alt="Image" />
    <div class="overlay-button">
      <button
        type="submit"
        class="btn btn-lg"
        style="
          background-color: #f0e5d4;
          border: 0px;
          color: #273947;
          font-size: 2.7vw;
          font-weight: bold;
          width: 28vw;
        "
        (click)="openBookOnlineModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="2.7vw"
          height="2.7vw"
          fill="currentColor"
          class="bi bi-send"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
          />
        </svg>
        Book Online
      </button>
    </div>
    <div class="overlay">
      <h1>
        MARYLAND'S<br />
        MOST TRUSTED <br />MOVERS
      </h1>
      <img
        style="max-width: 100%; margin-top: 20%"
        src="../../../../assets/images/dmv/dmv-movers.jpg"
      />
    </div>
  </div>

  <div class="container" style="padding-top: 13%">
    <div class="row">
      <div class="col-sm">
        <!--h1>WELCOME TO HOUSEHOLD GOODS MOVING AND STORAGE</h1-->

        <div class="row">
          <div class="col-sm-7">
            <h2>Your Trusted Moving Company in The DMV</h2>
            <p>
              Household Goods Moving And Storage is your reliable partner for:
            </p>
            <ul style="font-weight: bold">
              <li>Long Distance Moves</li>
              <li>Local Moves</li>
              <li>Junk Removal</li>
            </ul>
            <p style="margin-bottom: 30px">
              Count on us for stress-free and efficient services in the DMV
              area.
            </p>
          </div>
          <div class="col-sm">
            <h2>OUR LOCAL OFFICE IN THE DMV</h2>
            <div style="margin-bottom: 20px">
              <svg
                style="margin-right: 10px"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <strong
                ><a
                  style="color: #212529"
                  href="https://maps.app.goo.gl/q8G67vKyYnjumBVy8"
                  target="_blank"
                >
                  10655 Pine Haven Terrace, Rockville, MD 20852
                </a></strong
              >
            </div>
            <!--div style="margin-bottom: 20px">
              <svg
                style="margin-right: 10px"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                />
              </svg>
              <strong
                ><a
                  style="color: #212529"
                  href="https://maps.app.goo.gl/KiRZ1GQgD4y4QE6t5"
                  target="_blank"
                >
                  5644 3rd St NE, Washington, DC 20011
                </a></strong
              >
            </div-->
            <div>
              <svg
                style="margin-right: 10px"
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-envelope-at-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"
                />
                <path
                  d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"
                />
              </svg>
              <strong
                ><a
                  style="color: #212529"
                  href="mailto: sales&#64;household-goods-moving-and-storage.com"
                  >sales&#64;household-goods-moving-and-storage.com</a
                ></strong
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 40px">
      <div class="col-sm">
        <div
          class="card"
          style="margin-top: 20px; background-color: #f0e5d4; padding: 30px"
        >
          <div class="card-body">
            <div class="row">
              <div
                class="col-sm"
                style="
                  background-color: white;
                  border-radius: 6px;
                  padding: 20px;
                "
              >
                <app-article-quote></app-article-quote>
              </div>
              <div class="col-sm-7 p-3">
                <a
                  style="text-decoration: none"
                  href="https://maps.app.goo.gl/q8G67vKyYnjumBVy8"
                  target="_blank"
                >
                  <div #epuTEbXvx></div
                ></a>
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <a
                      style="max-width: 249.86px"
                      href="https://www.bbb.org/us/md/rockville/profile/moving-and-storage-companies/household-goods-moving-and-storage-0241-236079449/#sealclick"
                      target="_blank"
                      rel="nofollow"
                      ><img
                        src="https://seal-dc-easternpa.bbb.org/seals/blue-seal-280-80-bbb-236079449.png"
                        style="border: 0"
                        alt="Household Goods Moving And Storage BBB Business Review"
                    /></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm" style="padding-top: 20px">
                    <h3>WHY CHOOSE HOUSEHOLD GOODS MOVING</h3>
                    <ul>
                      <li>
                        <strong>Expert Moving Services:</strong> Our team of
                        professional movers are experts in handling all types of
                        moves. Whether it's a local move within the DMV area or
                        a long-distance relocation, we have the experience and
                        resources to get the job done right.
                      </li>
                      <li>
                        <strong>DMV Area Specialists:</strong> With a focus on
                        serving the DMV (District of Columbia, Maryland,
                        Virginia) area, we have an in-depth understanding of the
                        region's neighborhoods, traffic patterns, and logistical
                        considerations. This allows us to plan and execute your
                        move efficiently.
                      </li>
                      <li>
                        <strong>Personalized Approach:</strong> We understand
                        that no two moves are the same. That's why we take the
                        time to understand your unique requirements and tailor
                        our moving services to meet your specific needs.
                      </li>
                      <li>
                        <strong>Safety and Care:</strong> Your belongings are
                        precious, and we treat them as such. Our team takes
                        every precaution to ensure your items are securely
                        packed, transported, and delivered to your new location
                        without damage.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>OUR MOVING SERVICES</h3>
        <ul>
          <li>
            <strong>Residential Moves:</strong> Whether you're moving to a new
            home, apartment, or condominium within the DMV area, we provide
            comprehensive residential moving services. From packing to
            unpacking, we handle every aspect of your move.
          </li>
          <li>
            <strong>Specialty Moves:</strong> Have unique items that require
            special care? From pianos to antiques, our team has the expertise to
            handle specialty moves with precision and care.
          </li>
          <li>
            <strong>Storage Solutions:</strong> Need temporary storage during
            your move in the DMV area? We offer secure and climate-controlled
            storage options to keep your belongings safe until you're ready for
            delivery.
          </li>
        </ul>
        <p>Contact Us</p>
        <p>
          Ready to plan your move in the DMV area with
          <a
            _ngcontent-ng-c314449083=""
            style="color: #577476; font-weight: bold"
            href="tel:+12405707987"
          >
            Household Goods Moving And Storage
          </a>
          Contact us today to schedule a consultation and receive a free moving
          quote. Let us take the stress out of your move and ensure a smooth
          transition to your new destination in the DMV area.
        </p>
      </div>
    </div>
  </div>
</main>
