<div class="do-not-sell-wrapper">
  <h2>Do Not Sell</h2>
  <p>
    Household Goods Moving and Storage connects you with movers in our network
    that can service your move. We may receive compensation from the movers for
    this service. By law, this is considered "selling of information." The
    essence of our service is to connect you with third-party service providers.
  </p>
  <p>
    If you do not wish to continue, please click "EXIT SITE." If you would like
    to receive multiple quotes, click "I UNDERSTAND, PLEASE CONTINUE". For more
    information, please see our
    <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
  </p>

  <div class="button-group">
    <button class="primary" (click)="continue()">
      I UNDERSTAND, PLEASE CONTINUE
    </button>
    <button class="secondary" (click)="exitSite()">EXIT SITE</button>
  </div>

  <footer>
    <a href="/privacy-policy" target="_blank">Privacy Policy</a>
    &nbsp;|&nbsp;
    <a href="/terms-of-use" target="_blank">Terms &amp; Conditions</a>
    <br />
    <small>©Household Goods Moving and Storage</small>
  </footer>
</div>
