<div style="margin: 20px">
  Understanding your quote: <br />
  Flat rate, Direct delivery for your move: using a Box truck (exclusive use)
  with a crew of movers<br />
  This estimate includes the following services to be performed by the carrier:
  <ul>
    <li>Professional Door-to-Door service.</li>
    <li>
      Disassembly of all standard furniture required for safe movement at the
      origin.
    </li>
    <li>
      Reassembly for all items disassembled by the movers on the day of pick-up
      at destination.
    </li>
    <li>Wrapping of all furniture with quilted moving blankets.</li>
    <li>Itemized inventory indicating condition at origin of items.</li>
    <li>Loading & unloading of all goods.</li>
    <li>All transportation, taxes, tolls, mileage, and fuel surcharges.</li>
    <li>
      Standard cargo protection up to $10,000 based on 0.60 cents per lb. per
      article
    </li>
  </ul>

  Note: Elaborate furniture items that need to be disassembled and/or
  reassembled may require a 3rd party professional servicing or additional labor
  and should be disclosed to your estimator in advance of the move to be
  included on the estimate. Disconnecting and reconnecting of appliances is not
  included in the estimate. Reassembly of any item is subject to the
  availability of tools and/or parts being available at delivery. Packing,
  materials, and unpacking services, are available at an additional charge and
  are only included in this estimate if the service is listed on the services
  section of the estimate.
  <br /><br />
  Additional fees and Accessorial Services (if applicable to the move): <br />
  <ul>
    <li>
      If not included within the agreement, professional packing services are
      not included. However, it is at the discretion of the mover at the time of
      pickup to determine if items will require professional packing services.
      In these instances, additional charges will be applied. These items
      include but are not limited to the following: televisions, mirrors, glass
      tabletops, wall art, contents within dresser drawers, etc.
    </li>
    <li>
      Packing supplies, such as bubble wrap, shrink wrap, packing tape, boxes,
      etc. are not included. (unless noted on the contract)
    </li>
    <li>
      If there is more than one flight of stairs at your origin and (or)
      destination which requires the movers to transport items beyond the first
      flight, there will be a charge of $75 per additional flight. There will be
      no charge for the first flight of stairs at either the origin or
      destination.
    </li>
  </ul>

  Please do not hesitate to give us a call to ask questions and address any
  concerns you may have. Customer Service Phone Number: 240-570-7987
  <br /><br />
  Terms of Payment:
  <br /><br />
  Booking Deposits are refundable ONLY up until 72 hours prior to your move
  date. CANCELLATIONS made onsite (at pick-up) are NON-REFUNDABLE.
  <br /><br />
  Meaning, if the moving crew arrives to the customer's pick up location on the
  day of the move and the customer cancels the move, he or she will not be
  refunded the deposit made prior. <br /><br />
  On pick-up day 50% of the remaining balance is due in the form of a cashier's
  check, cash, credit/debit card or postal money order directly to the carrier.
  <br /><br />
  The carrier reserves the right to collect up to 75% of the balance due prior
  to the goods leaving the origin state.
  <br /><br />
  Do Not Ship the Following Items:
  <br />
  Extremely valuable items SHOULD NOT BE SHIPPED with any moving company. These
  items include Passports, Deeds, Mortgage paperwork, Bank reports, Jewelry,
  Gold, Coins, Currency, Diamonds, Medications, Prescriptions, Military items,
  Ammunition, firearms of any kind, Government Documents, Legal documents, and
  Personal checks. These items will NOT be covered by the carrier or the
  insurance company.
  <br />
  Items of Extraordinary Value:
  <br />Extremely Valuables items MUST be specifically noted by the customer on
  the Bill of Lading and pointed out to the foreman before the move begins. The
  foreman will determine the necessary precautions to insure the protection and
  safety of the item.
</div>
