<div style="margin-bottom: 10px">
  <div class="card">
    <div class="card-body">
      <div
        class="card"
        style="margin: 10px 0px 10px 0px; color: #273947; border-color: #273947"
      >
        <div class="card-body">
          <h2 style="font-size: 20px">
            Household Goods Moving Services with Household Goods Moving &
            Storage!
          </h2>
          <div class="row">
            <div class="col">
              <p>
                Planning a <b>long-distance move</b>? Whether you're
                <b>relocating across state lines</b> or moving to a different
                region, we specialize in making your move smooth and
                hassle-free. At Household Goods Moving & Storage, we ensure the
                safe transport of your <b>household goods</b>, delivering them
                securely and on time.
              </p>
              <p>
                Our pricing is based on the <b>cubic feet</b> your belongings
                occupy, offering a clear and accurate estimate for your
                <b>long-distance move</b>. From packing to delivery, we handle
                every detail with professionalism and care.
              </p>

              <p>
                Choose Household Goods Moving & Storage for a
                <b>household goods move</b> that's reliable and stress-free, no
                matter the distance!
              </p>
            </div>
            <div
              class="col"
              style="margin-bottom: 15px; max-width: 370px; min-width: 252px"
            >
              <img
                style="width: inherit"
                alt="moving truck for household goods long-distance move"
                src="../../../assets/images/consolidated-move-homepage.jpg"
              />
            </div>
          </div>

          <div class="row">
            <div class="col" style="max-width: 370px; padding-bottom: 15px">
              <button
                (click)="openBookOnlineModal()"
                class="btn btn-lg"
                style="
                  background-color: #273947;
                  border: 0px;
                  color: #f0e5d4;
                  font-size: 18px;
                  font-weight: bold;
                  max-width: 350px;
                  min-width: 252px;
                "
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25px"
                  height="25px"
                  fill="currentColor"
                  class="bi bi-send"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
                  />
                </svg>
                Get a Quote
              </button>
            </div>
            <div class="col">
              <a [href]="'tel:+' + phoneLink"
                ><button
                  type="button"
                  class="btn btn-lg"
                  style="
                    background-color: #273947;
                    border: 0px;
                    color: #f0e5d4;
                    font-size: 18px;
                    font-weight: bold;
                    max-width: 350px;
                    min-width: 252px;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25px"
                    height="25px"
                    fill="currentColor"
                    class="bi bi-telephone"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                    ></path>
                  </svg>
                  {{ phone }}
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
