.collapsible {
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.toggle-button {
  display: none;
  width: 100%;
  background: #f1f1f1;
  border: none;
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
}

.toggle-button:focus {
  outline: none;
}

/* Show toggle button only on mobile devices */
@media (max-width: 767px) {
  .toggle-button {
    display: flex;
  }
}

.content {
  padding: 15px;
  display: block; /* Show content by default */
}

/* Hide content by default on mobile */
@media (max-width: 767px) {
  .content {
    display: none;
  }
}
