<div class="container">
  <nav aria-label="breadcrumb" style="margin-top: 5px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a style="color: #273947; font-weight: 600" routerLink=""
          >Household Goods Moving And Storage</a
        >
      </li>
      <li *ngIf="page == '/residential-movers/faq'" class="breadcrumb-item">
        <a style="color: #273947; font-weight: 600" routerLink="/movers/faq/"
          >FAQ - Movers</a
        >
      </li>
      <li *ngIf="page != '/residential-movers/faq'" class="breadcrumb-item">
        FAQ - Movers
      </li>
      <li
        *ngIf="page == '/residential-movers/faq'"
        class="breadcrumb-item active"
        aria-current="page"
        routerLink="/residential-movers/faq/"
      >
        FAQ - Residential Movers
      </li>
    </ol>
  </nav>
  <div class="container">
    <h1>{{ FAQ.h1 }}</h1>
    <time>Last Updated: 3/8/2024</time>
    <app-faq-question
      *ngIf="FAQ.question"
      [question]="FAQ.question"
    ></app-faq-question>
    <app-faq-subject
      *ngFor="let subject of FAQ.subjects; let i = index"
      [subject]="subject"
    ></app-faq-subject>

    <!--h2>
      Watch our video:
      <a href="https://www.youtube.com/watch?v=o4wf-eNnVwU" target="_blank"
        >How to Find an Interstate Mover: Tips for Choosing the Right Interstate
        Movers</a
      >
    </h2-->
  </div>
</div>
