<div class="row" style="padding: 20px">
  <div class="col" style="min-width: 252px; max-width: 360px">
    <img
      style="width: inherit"
      alt="household goods movers"
      src="../../../assets/images/homepage-mover.jpg"
    />
  </div>
  <div class="col">
    <h1>Household Goods Moving And Storage</h1>
    <p>
      From small apartments to large homes, across the street or across the
      country, we provide household goods moving and storage services with care
      and professionalism. Trust our team to ensure your belongings are safely
      packed, transported, and delivered on time with hassle-free service
      throughout the U.S.
    </p>
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <li>
        <i class="bi bi-box2-heart"></i>&nbsp;<b>Expert Packing:</b> We
        carefully pack and protect your items, ensuring everything arrives in
        perfect condition.
      </li>
      <li>
        <i class="bi bi-people-fill"></i>&nbsp;<b>Dedicated Team:</b> Our
        professional movers handle every step of your household goods move with
        care and efficiency.
      </li>
      <li>
        <i class="bi bi-truck"></i>
        &nbsp;<b>Timely Delivery:</b> We prioritize on-time delivery, ensuring
        your belongings reach their destination as scheduled.
      </li>
      <li>
        <i class="bi bi-signpost-split"></i>&nbsp;<b>Full Coverage:</b> Moving
        services available throughout the U.S., with no hidden fees or
        unexpected charges.
      </li>
    </ul>
    <br />
    <p>
      Call us today at
      <b
        ><a [href]="'tel:+' + phoneLink">{{ phoneText }}</a></b
      >
      or request a quote here:
      <b
        ><a
          href="https://movers.household-goods-moving-and-storage.com/"
          target="_blank"
          rel="noopener nofollow"
          >movers.household-goods-moving-and-storage.com</a
        ></b
      >
      to book your mover today!
    </p>
    <app-third-party-reviews></app-third-party-reviews>
  </div>
</div>
<!--

-->
<div
  class="card text-start"
  style="border-width: 5px 0px; border-color: #ffde59"
>
  <div class="card-body">
    <div
      class="card d-flex justify-content-start"
      style="background-color: #273947; color: #f0e5d4"
    >
      <div class="card-body">
        <div class="container">
          <div class="move-quote">
            <h2 class="card-title">Quick Move Quote</h2>
            <div class="d-flex">
              <form
                name="leadFormHome"
                [formGroup]="leadFormHome"
                style="color: #273947; min-width: 250px"
                (ngSubmit)="sendEmail()"
              >
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="movingFromInput"
                    #movingFromInput
                    placeholder=""
                    formControlName="movingFromInput"
                    name="movingFromInput"
                    required
                  />
                  <label for="movingFromInput"
                    >Moving From (City, State or Zip)</label
                  >
                  <div class="invalid-feedback text-start">
                    Moving From cannot be empty
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="movingToInput"
                    #movingToInput
                    placeholder=""
                    required
                    formControlName="movingToInput"
                    name="movingToInput"
                  />
                  <label for="movingToInput"
                    >Moving To (City, State or Zip)</label
                  >
                  <div class="invalid-feedback text-start">
                    Moving To cannot be empty
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="date"
                    onclick="this.showPicker()"
                    onfocus="this.showPicker()"
                    class="form-control"
                    id="moveDateInput"
                    #moveDateInput
                    formControlName="moveDateInput"
                    name="moveDateInput"
                  />
                  <label for="moveDateInput">Preferred Move Date</label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input"
                    type="radio"
                    #moveSize
                    name="moveSizeInput"
                    id="moveSize1"
                    value="1"
                    formControlName="moveSizeInput"
                  />
                  <label
                    style="color: #f0e5d4"
                    class="form-check-label"
                    for="moveSize1"
                  >
                    &nbsp;1 Bedroom
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input"
                    type="radio"
                    formControlName="moveSizeInput"
                    #moveSize
                    name="moveSizeInput"
                    id="moveSize2"
                    value="2"
                  />
                  <label
                    style="color: #f0e5d4"
                    class="form-check-label"
                    for="moveSize2"
                  >
                    &nbsp;2 Bedroom
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="moveSizeInput"
                    #moveSize
                    id="moveSize3"
                    value="3"
                    formControlName="moveSizeInput"
                  />
                  <label
                    style="color: #f0e5d4"
                    class="form-check-label"
                    for="moveSize3"
                  >
                    &nbsp;3 Bedroom
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="moveSizeInput"
                    #moveSize
                    id="moveSize4"
                    value="4"
                    formControlName="moveSizeInput"
                  />
                  <label
                    style="color: #f0e5d4"
                    class="form-check-label"
                    name="moveSizeInput"
                    for="moveSize4"
                  >
                    &nbsp;4 Bedroom
                  </label>
                </div>
                <div class="form-check d-flex justify-content-start">
                  <input
                    class="form-check-input"
                    type="radio"
                    #moveSize
                    name="moveSizeInput"
                    id="moveSize5"
                    value="5"
                    formControlName="moveSizeInput"
                  />
                  <label
                    style="color: #f0e5d4"
                    class="form-check-label"
                    for="moveSize5"
                  >
                    &nbsp;5+ Bedroom
                  </label>
                </div>
                <p></p>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="nameInput"
                    #nameInput
                    formControlName="nameInput"
                    name="nameInput"
                    placeholder=""
                  />
                  <label for="nameInput">Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    #emailInput
                    formControlName="emailInput"
                    name="emailInput"
                    placeholder=""
                    required
                  />
                  <label for="emailInput">Email</label>
                  <div class="invalid-feedback text-start">
                    Please enter a valid email
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="tel"
                    class="form-control"
                    id="phoneInput"
                    formControlName="phoneInput"
                    name="phoneInput"
                    #phoneInput
                    placeholder=""
                    required
                    pattern="\(?[0-9]{3}\)?\s?-?[\s\-\s]?[0-9]{3}\s?-?[\s\-\s]?[0-9]{4}"
                  />
                  <label for="phoneInput">Phone Number</label>
                  <div class="invalid-feedback text-start">
                    Please enter a valid Phone
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-lg"
                  style="
                    background-color: #ffde59;
                    border: 0px;
                    color: #273947;
                    font-weight: bold;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    fill="currentColor"
                    class="bi bi-send"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
                    />
                  </svg>
                  Get a free estimate
                </button>
              </form>
            </div>
          </div>

          <div class="move-information">
            <diV class="align-self-center">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">
                    Household Goods Moving and Storage is the best choice for
                    both long-distance and local moves. We offer household goods
                    moving and storage services, including expert packing of
                    your household goods, secure transportation by professional
                    movers, and flexible storage solutions, ensuring a seamless
                    and stress-free moving experience. Our skilled team of
                    movers treats your household goods with the utmost care
                    throughout the moving process, with secure storage options
                    available, ensuring they arrive safely at your new
                    destination. Choose Household Goods Moving and Storage for
                    reliable, top-quality service that you can trust.
                  </p>
                  <p></p>
                  <p class="card-text">Need help? Call Now</p>
                  <a [href]="'tel:+' + phoneLink">
                    <button
                      type="button"
                      class="btn btn-lg"
                      style="
                        background-color: #ffde59;
                        border: 0px;
                        color: #273947;
                        font-weight: bold;
                      "
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        fill="currentColor"
                        class="bi bi-telephone"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                        ></path>
                      </svg>
                      {{ phoneText }}
                    </button>
                  </a>
                </div>
              </div>
              <div class="card" style="margin-top: 20px">
                <div class="card-body">
                  <div
                    class="sk-ww-google-business-profile"
                    data-embed-id="25426486"
                    #googleProfileHome
                  ></div>
                </div>
              </div>
            </diV>
          </div>
        </div>

        <div class="row" style="font-size: 14px">
          * We do not share your information with any third parties without your
          permission. Only our estimator will call you regarding your move. We
          do not sell, communicate or divulge your information to any mailing
          lists.
        </div>
      </div>
    </div>
  </div>
</div>
<div
  style="border-bottom: 5px solid #ffde59"
  class="sk-ww-google-reviews"
  data-embed-id="25426271"
  #123
></div>
<app-location-cards></app-location-cards>
<app-consolidated-move></app-consolidated-move>
<app-direct-delivery></app-direct-delivery>
<app-articles [phoneLink]="phoneLink" [phone]="phoneText"></app-articles>
<app-faq-homepage></app-faq-homepage>
