<div
  class="modal fade"
  id="orderCallbackModal"
  tabindex="-1"
  aria-labelledby="orderCallbackModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: 0px">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeOrderCallbackModal()"
        ></button>
      </div>
      <div class="modal-body">
        <app-order-callback-form
          [(showForm)]="showForm"
        ></app-order-callback-form>
      </div>
      <div class="modal-footer" style="border: 0px"></div>
    </div>
  </div>
</div>
